//Orange colors to highlight important information, such as results;
$orange-50: #fff7ed;
$orange-100: #ffedd5;
$orange-200: #fed7aa;
$orange-300: #fdba74;
$orange-400: #fb923c;
$orange-500: #f97316;
$orange-600: #ea580c;
$orange-700: #c2410c;
$orange-800: #9a3412;
$orange-900: #7c2d12;
//Blue colors to highlight inputs and button;
$blue-50: #eff6ff;
$blue-100: #DEEBFF;
$blue-200: #BBD8FF;
$blue-300: #99C5FF;
$blue-400: #66B2FF;
$blue-500: #33AFFF;
$blue-600: #007BFF;
$blue-700: #0073E6;
$blue-800: #0069CC;
$blue-900: #005DAB;